<div class="navigation">
  <ul>
    <li>Ingredients</li>
    <li>Recipes</li>
  </ul>
  <div class="btn-wrapper">
    <div class="login-btn">Log In </div>
    <div class="signup-btn"> <a href="/signup">Sign Up</a></div>
  </div>
</div>


<div class="search-bar">
  <form class="search" action="/results">
    <input type="text" name="search_box" placeholder="Search an ingredient" class="search-input">
    <button class="search-button">Search</button>
  </form>
</div>
