<div class="bg-wrap">
  <div class="search-outerwrap">
    <div class="search-wrap">
      <h2 class="search-title">Leftovers made easy!</h2>
      <p class="search-paragraph">Ever wondered what to do with your left over ingredients? </br> Search your leftover ingredients to find recipes!</p>
      <div class="search-bar">
        <form class="search" action="/results">
          <input type="text" name="search_box" placeholder="Search an ingredient" class="search-input">
          <button class="search-button"></button>
        </form>
      </div>
    </div>
  </div>
</div>
