<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>What's Left</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="header-wrapper">

    <a href="/"><img src="/stylesheets/images/logo.png" class="logo"></a>

    <ul class="navigation">

      <li class="header-link"><a href="/recipes">Recipes</a></li>

      <% if logged_in? %>
        <!-- Avatar & Username -->
          <a href="/profile/<%= session[:user_id] %>" class="header-link login-name"><img src="/stylesheets/images/user.png" class="login-avatar"></a>
          <a href="/profile/<%= session[:user_id] %>" class="header-link login-name">Hello, <%= current_user.first_name[0] + current_user.last_name[0]%></a>

        <!-- Log Out Button -->
        <form action="/login" method="post" class="logout-form">
          <input type="hidden" value="delete" name="_method">
          <button class="logout-button">Log Out</button>
        </form>

      <% else %>

        <li class="header-link js-login-btn">Log In </li>
        <li class="header-link"> <a href="/signup">Sign Up</a></li>

      <% end %>

    </ul>

      <!-- Popup for User login -->
      <div class="login-popup-wrap">
        <form class="login-popup" action="/login" method="post">
          <input type="text" name="email" placeholder="Email Address" class="login-email">
          <input type="password" name="password" placeholder="Password" class="login-password">
          <button class="button">Log In</button>
        </form>
      </div>


  </div>

  <%= yield %>

  <script src="/javascripts/jquery-1.12.2.min.js"></script>
  <script src="/javascripts/gen_validator.js"></script>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/application.js"></script>
</body>
