<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="header-wrapper">

    <img src="/stylesheets/images/logo.png" class="logo">

    <ul class="navigation">
      <li class="header-link">Ingredients</li>
      <li class="header-link">Recipes</li>

      <% if logged_in? %>
      <% else %>
        <li class="header-link js-login-btn">Log In </li>
        <li class="header-link"> <a href="/signup">Sign Up</a></li>
      <% end %>

    </ul>


      <!-- Avatar & Username -->
      <!-- <div class="display-log">
        <img src="/stylesheets/images/Icon-user.png">
        <a href="/profile/<%= session[:user_id] %>" class="username">Hello, <%#= current_user.first_name[0] + current_user.last_name[0]%></a>
      </div> -->

      <!-- Log Out Button -->
      <!-- <form action="/login" method="post">
        <input type="hidden" value="delete" name="_method">
        <button class="logout-btn">Log Out</button>
      </form> -->


      <!-- Log In and Sign Up buttons -->
      <!-- <div class="btn-wrapper">

      </div> -->

      <!-- Popup for User login -->
      <div class="login-popup-wrap">
        <form class="login-popup" action="/login" method="post">
          <input type="text" name="email" placeholder="Email Address" class="login-email"> </br> </br>
          <input type="password" name="password" placeholder="Password" class="login-password"> </br> </br>
          <button class="button">Log In</button>
        </form>
      </div>


  </div>

  <%= yield %>

  <script src="/javascripts/jquery-1.12.2.min.js"></script>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/application.js"></script>
</body>
