<h1 class="page-title">Add New Recipe</h1>

<form class="new-recipe-form wrap-box group" action="/recipes" method="post">

  <div class="new-recipe-left">
    <div>
      <label for="">Name of recipe</label>
      <input type="text" name="recipe_name" class="signup-input">
    </div>

    <div>
      <label for="">Add a photo</label>
      <input type="file" name="image" class="avatar-input">
    </div>

    <div class="prep-time">
      <label for="">Prep Time</label>
      <input type="text" name="prep_time" placeholder="In minutes" class="signup-input">
    </div>

    <div class="cook-time">
      <label for="">Cook Time</label>
      <input type="text" name="cook_time" placeholder="In minutes" class="signup-input">
    </div>

    <div>
      <label for="">Serving Size</label>
      <input type="text" name="servings" class="signup-input">
    </div>

  </div>

  <div class="new-recipe-right">

    <div>
      <label for="">Ingredients</label>
      <textarea name="ingredients_name" placeholder="Enter each ingredient in a new line" class="signup-input ingredients-input"></textarea>
    </div>

    <div>
      <label for="">Directions</label>
      <textarea name="directions" data-val="true" data-val-required="Opps! Don't forget the instructions" placeholder="Enter each step in a new line" class="signup-input directions-input"></textarea>
    </div>


    </div>

    <div class="add-button-wrapper">
      <button class="button">Add new recipe</button>
    </div>

</form>
