<% if @results.blank? %>
   <h2>Sorry, there are not recipes found.</h2>
<% else %>
  <% @results.each do |ingredient_recipe| %>
  <div class='recipes-list'>
    <p><%= ingredient_recipe.recipe.name %></p>
    <img src="<%= ingredient_recipe.recipe.img_url %>" alt="" class="recipe-list-img"/>
  </div>
  <% end %>
<% end %>
