<h1>What's Left</h1>

<form class="signup-form" action="/signup" method="post">

  <p>First Name</p>
  <input type="text" name="first_name" placeholder="First Name" class = signup-input>

  <p>Last Name</p>
  <input type="text" name="last_name" placeholder="Last Name" class = signup-input>

  <p>Email Address</p>
  <input type="text" name="email" placeholder="Email Address" class = signup-input>

  <p>Password</p>
  <input type="password" name="password" placeholder="Password" class = signup-input>

  <p>Confirm Password</p>
  <input type="password" name="password_confirm" placeholder="Confirm Password" class = signup-input>

  <p><button>Log In</button></p>

</form>
