
<div class="user-list">
<ul>
  <li>Profile Photo</li>
  <li>Name</li>
  <li>Count of recipes made</li>
  <li><a href="/recipes/new">Add a recipe</a></li>
  <li>List of Recipes uploaded</li>
  <li>List of Recipes made</li>
</ul>
</div>
