* {
  box-sizing: border-box;
}

html, body {
  font-family: helvetica;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F9F9F9;
}

a:link {
  text-decoration: none;
  color: black;
}

input {
  width: 100%;
  display: inline-block;
  margin-right: -4px;
  border: 1px solid lightgrey;
  padding: 10px;
  font-size: 14px;
  background: rgba(255,255,255,0.75);
  border-radius: 6px;
  outline: 0;
  margin-bottom: 20px;
}

input:focus {
  border-color: #3BB300;
}

.navigation {
  padding: 0;
  text-align: right;
  margin: 0 15px 0 0;
  padding: 18px 0;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 35px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.bg-wrap {
  background-image: url('/stylesheets/images/bg.jpg');
  background-size: cover;
  height: 100%;
  margin-top: -60px;
}

.logo {
  height: 21px;
  float: left;
  margin: 17px 0 0 15px;
}
.search-outerwrap {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  margin-top: 30px;
  width: 90%
}
.search-wrap {
  border: 1px solid #DADADA;
  padding: 15px;
}
.search-title {
  font-size: 32px;
  font-weight: 300;
}
.search-paragraph {
  opacity: 0.6;
}

.search-bar {
  margin: 100px auto;
  text-align: center;
}

.login-popup-wrap {
  position: absolute;
  top: 60px;
  right: 0;
  display: none;
  background-color: #F9F9F9;
  border: 1px solid #DADADA;
  z-index: 2;
}

.login-popup-wrap h2 {
  margin: -6px 0 20px 0;
}

.login-popup {
  text-align: left;
  padding-left: 5px;
  padding: 20px 35px;
}

.btn-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.user-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #DADADA;
}

.user-avatar1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #DADADA;
  padding: 10px;
}

.header-link {
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}

.login-email, .login-password {
  width: 200px;
  margin-bottom: 10px;
  display: block;
}

.search {
  position: relative;
}

.search-bar {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

.search-input {
  padding: 15px;
}

.button {
  padding: 10px 20px;
  background-color: #3BB300;
  color: white;
  border: 0;
  border-radius: 6px;
}
.delete-button {
  padding: 10px 20px;
  background-color: #3BB300;
  color: white;
  border: 0;
  border-radius: 6px;
  display: inline-block;
}
.edit-button-wrapper {
  margin-left: 0;
  width: 30%;
  display: inline-block;
  float: left;
  margin-top: 25px;
}

.search-button {
  width: 49px;
  height: 49px;
  margin-right: -2px;
  background-color: transparent;
  background-image: url("/stylesheets/images/search.png");
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  vertical-align: top;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 6px;
}

.wrap-box {
  background-color: white;
  border: 1px solid #DADADA;
  padding: 20px;
  text-align: left;
}

.wrap-box, .signup-input, .avatar-input {
  margin-top: 10px;
}

.signup-form {
  width: 50%;
  margin: 0 auto;
}

.page-title {
  margin: 30px 0;
}

.input-half {
  width: 47%;
  display: inline-block;
  margin-right: 6%;
}

.input-half.last {
  margin-right: 0;
  margin-left: -4px;
}

.fields {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: 14px;
}

.login {
  background-color: black;
  color: white;
}

.hvr-bubble-top {
  display: none;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
}
.hvr-bubble-top:hover:before, .hvr-bubble-top:focus:before, .hvr-bubble-top:active:before {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.header-wrapper {
  width: 100%;
  position: relative;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #DADADA;
}

.display-log {
  margin: 20px 0;
  display: inline-block;
}

.login-avatar {
  width: 16px;
  margin-left: 30px;
}
.login-name {
  margin-left: 5px;
}
.username {
  vertical-align: top;
  line-height: 36px;
  padding: 0 8px;
}
.logout-form {
  display: inline;
  margin-left: 10px;
}
.logout-button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 5px 15px;
  margin-left: 5px;
  background-color: #3BB300;
  border-radius: 6px;
  color: white;
}

.greeting, .edit-button {
  margin-bottom: 15px;
}

.edit-button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 5px 15px;
  background-color: #3BB300;
  border-radius: 6px;
  color: white;
}

.add-button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 4px 15px;
  background-color: #F77B03;
  border-radius: 6px;
  color: white;
  font-size: 12px;
  margin-bottom: 20px;
  display: inline-block;
}

.user-list {
  width: 50%;
  margin: 30px auto;
}
.avatar-wrap {
  float: left;
}

.recipe-form {
  margin: 0 auto;
  width: 60%;
}
.new-recipe-form {
  margin: 0 auto;
  width: 90%;
}
.edit-recipe-form {
  margin: 0 auto;
  width: 60%;
}
.info-wrap {
  float: right;
}
.new-recipe-top {
  float: left;
  width: 100%;
}
.recipe-img{
  width: 100%;
  border-radius: 10px;
}
.user-info-wrap {
  float: right;
  width: 60%;
  text-align: left;
}
.user-info-inner-wrap {
  line-height: 1.6;
}

.edit-profile-form {
  margin: 0 auto;
  width: 50%;
}

.new-recipe-left .avatar-input {
  background-image: url('/stylesheets/images/camera.png');
  width: 100%;
  height: 123px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center 25px;
}

.new-recipe-left {
  float: left;
  width: 30%;
  margin: 0px 15px;
}

.prep-time-new, .cook-time-new {
  width: 45%;
  display: inline-block;
}

.cook-time-new {
  margin-left: 9%;
}

.new-recipe-right {
  float: right;
  width: 60%;
  margin: 0px 15px;
}
.show-recipe-right {
  float: right;
  width: 50%;
  margin: 40px 40px;
}
.show-recipe-top2 {
  float: left;
  width: 100%;
  margin-top: 3%;
}

.servings {
  display: inline-block;
}
.flash-error {
  color: red;
}
.recipe-info-2 {
  width: 30%;
  display: inline-block;;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.add-button-wrapper {
  width: 100%;
  float: left;
  margin: 0 15px;
}

.ingredients-input, .directions-input {
  height: 9rem;
  width: 100%;
  border-radius: 6px;
  line-height: 1.5rem;
  border: 1px solid lightgrey;
  padding: 10px;
  font-size: 14px;
  background: rgba(255,255,255,0.75);
  border-radius: 6px;
  outline: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.directions-input {
  height: 12rem;
}

.prep-time, .cook-time, .servings {
  width: 25%;
  display: inline-block;
  margin: 2%;
}
.cook-time, .servings {
}

.first_name, .last_name {
  width: 45%;
  display: inline-block;
}
.last_name {
  margin-left: 20px;
}

.cook-time {
}

.user-list li {
  list-style: none;
}

.avatar-edit {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile.avatar-wrap{
  width: 100%;
}
.profile-avatar-wrap-left {
  float: left;
  width: 30%;
}
.profile-avatar-wrap-right {
  float: right;
  width: 70%;
  margin-top: 5%;
}

.prof-pwd {
  width: 100%;
  float: left;
  margin-top: 20px;
}

.default-recipe-img {
  width: 250px;
  height: 250px;
  float: left;
}

.recipe-info-wrap {
  width: 100%;
  float: left;
  padding: 0 30px;
}

.ingredient-list {
  width: 30%;
  float: left;
  padding: 0 20px;
}
.direction-list {
  width: 60%;
  float: right;
  padding: 0 20px;
}
.direction-list li {
 margin-bottom: 20px;
}
.direction-list ol {
  padding-left: 20px;
  line-height: 1.5;
}
.ingredient-list ul {
  padding-left: 20px;
  line-height: 1.5;
}
.recipes-list-wrap {
  width: 60%;
  margin: 0 auto;
}
.recipes-list {
  position: relative;
  display: inline-block;
  width: 30%;
}
.recipe-list-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.recipes-icon {
  background-image: url('/stylesheets/images/edit_icon.png');
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 5;
  background-size: 100%;
  top: 72%;
  left: 62%;
}
